<configuration>
  <settings>
    <add key="TelegramAPIKey" value=""/>
    <add key="WeatherAPIKey" value=""/>
  </settings>
  <commands>
    <add key="Help" value="help"/>
    <add key="Weather" value="weather"/>
    <add key="Info" value="info,information,about"/>
    <add key="Switch" value="switch,переключить"/>
    <add key="Start" value="start"/>
  </commands>
  <version value="1.0"/>
</configuration>